@model RegService.Models.UsersRegModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Details";
}

<div class="grid grid-cols-2">
    <div class="row space-y-4 borderbg-opacity-25">
        <div>
            <label asp-for="FileNo" class="font-bold">File Number: </label>
            <span class="font-semibold pl-4">@Model.FileNo</span>
        </div>
        <div>
            <label asp-for="FirstName" class="font-bold">Name: </label>
            <span class="font-semibold pl-4">@Model.FirstName @Model.LastName</span>
        </div>
        <div>
            <label asp-for="ContactNo" class="font-bold">Contact Number: </label>
            <span class="font-semibold pl-4">@Model.ContactNo</span>
        </div>
        <div>
            <label asp-for="Address" class="font-bold">Address: </label>
            @if (Model.Address == null)
            {
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            }
            else
            {
                <span class="font-semibold pl-4">@Model.Address</span>
            }
        </div>
        <div>
            <label asp-for="State" class="font-bold">State: </label>
            @if (Model.State == null)
            {
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            }
            else
            {
                <span class="font-semibold pl-4">@Model.State</span>
            }
        </div>
        <div>
            <label asp-for="AccountNo" class="font-bold">Account Number: </label>
            @if (Model.AccountNo == null)
            {
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            }
            else
            {
                <span class="font-semibold pl-4">@Model.AccountNo</span>
            }
        </div>
        <div>
            <label asp-for="Branch" class="font-bold">Branch: </label>
            @if (Model.Branch == null)
            {
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            }
            else
            {
                <span class="font-semibold pl-4">@Model.Branch</span>
            }
        </div>
        <div>
            <label asp-for="AadhaarNo" class="font-bold">Aadhaar No: </label>
            @if (Model.AadhaarNo == null)
            {
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            }
            else
            {
                <span class="font-semibold pl-4">@Model.AadhaarNo</span>
            }
        </div>
        <div>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Developer"))
            {
                <label asp-for="Errors" class="font-bold">Errors: </label>
                @if (Model.Errors == null)
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
                }
                else
                {
                    <span class="font-semibold pl-4">@Model.Errors</span>
                }
            }
        </div>
    </div>
    <div class="row space-y-4 borderbg-opacity-25">
        <div>
            <label asp-for="EmailId" class="font-bold">EmailId: </label>
            @if (Model.EmailId == null)
            {
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            }
            else
            {
                <span class="font-semibold pl-4">@Model.EmailId</span>
            }
        </div>
        <div>
            <label asp-for="Pincode" class="font-bold">Pincode: </label>
            @if (Model.Pincode == null)
            {
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            }
            else
            {
                <span class="font-semibold pl-4">@Model.Pincode</span>
            }
        </div>
        <div>
            <label asp-for="District" class="font-bold">District: </label>
            @if (Model.District == null)
            {
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            }
            else
            {
                <span class="font-semibold pl-4">@Model.District</span>
            }
        </div>
        <div>
            <label asp-for="IFSCcode" class="font-bold">IFSCcode: </label>
            @if (Model.IFSCcode == null)
            {
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            }
            else
            {
                <span class="font-semibold pl-4">@Model.IFSCcode</span>
            }
        </div>
        <div>
            <label asp-for="BankName" class="font-bold">BankName: </label>
            @if (Model.BankName == null)
            {
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            }
            else
            {
                <span class="font-semibold pl-4">@Model.BankName</span>
            }
        </div>
        <div>
            <label asp-for="PanNo" class="font-bold">PanNo: </label>
            @if (Model.PanNo == null)
            {
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            }
            else
            {
                <span class="font-semibold pl-4">@Model.PanNo</span>
            }
        </div>
    </div>
</div>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div class="w-full grid grid-cols-2 justify-items-center">
        <form>
            <button asp-action="Edit" asp-controller="Users" asp-route-id="@Model?.Id" type="submit" class="bg-blue-500 justify-self-end hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Edit</button>
        </form>
        <form>
            <button asp-action="Delete" asp-controller="Users" asp-route-id="@Model?.Id" type="submit" class="bg-blue-500 justify-self-start hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Delete</button>
        </form>
    </div>
}
else
{
    @if (Model.AccountNo == null || Model.IFSCcode == null || Model.Branch == null || Model.BankName == null || Model.AadhaarNo == null || Model.PanNo == null)
    {
        <div class="w-full grid grid-cols-2 justify-items-center">
            <form class="justify-self-center">
                <button asp-action="AccountDetailsFill" asp-controller="Users" asp-route-id="@Model?.Id" type="submit" class="bg-blue-500 justify-self-center hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Enter Account Details</button>
            </form>

            <form class="justify-self-center">
                <button asp-action="TransferFile" asp-controller="Users" asp-route-id="@Model?.Id" type="submit" class="bg-blue-500 inline-flex items-center hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    Next <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                </button>
            </form>
        </div>
    }
    else
    {
        <div class="w-full grid justify-items-center">
            <form class="justify-self-center">
                <button asp-action="TransferFile" asp-controller="Users" asp-route-id="@Model?.Id" type="submit" class="bg-blue-500 inline-flex items-center hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    Next <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                </button>
            </form>
        </div>
    }
}

